.mainpage{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: rgb(48, 30, 49);
    width: 100%;
    height: 100vh;
    justify-content: center;
    
}
p{
    margin: 0px ;
    padding: 15px;
    color: white;
    font-weight: bolder;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: white;
    font-weight: bold;
    border: 1px solid rgb(58, 29, 59);
    padding: 15px;
    border-radius: 9px;
}